#question-age, #question-favcolor, #question-wives, #question-sparkling {
  display: none;
}


#pure {
  display: none;
}

#lemon {
  display: none;
}

#peachpear {
  display: none;
}

#pamplemousse {
  display: none;
}
